body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-flow: row;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    margin-top: auto; 
	font-size: 6vw;
	align-items: center;
	flex-flow: row wrap;
}

footer h1 {
    margin: 0;
    text-align: Left;
}


@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .section {
        width: 100%;
    }
}

footer button {
    background-color: #121111;
    color: #F5EDD9;
    border: none;
    padding: 20px 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
	width: 8rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer button:hover {
    background-color: #121111;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .section {
        width: 100%;
    }

    footer button {
        width: 100%;
        padding: 8px 10px;
        font-size: 0.8rem;
    }
}